.Categories{
	flex-wrap: wrap;
  	justify-content: space-between;
  	flex:2 ;
}
.Category{
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
}
.CategoryButton{
  opacity: 0.7
}